*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    <link rel="shortcut icon" href="Imagenes/somer.ico" />
  }

  body{
    background: #f1f1f1;
    background-image: url("Imagenes/fondo.jpg");
    background-size:100%;
  }
   
  footer{
  font-size: 75%;
  padding: 10px 10px 10px 10px;
  background-color:#127A4A;
  text-align: center;
  color: #FFFFFF;
}

header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: #127A4A;
}

header a{
text-decoration:none; 
font-size: 175%;
  color: #FFFFFF;
}

p{
  color: #FFFFFF;
}

  .container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .login-container{
    display: flex;
    width: 400px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;
  }
   
  .register, .login{
    flex: 1;
  }
   
  .register{
    padding: 40px;
    position: relative;
  }
   
  .register h2{
    color: #797979;
    margin-bottom: 30px;
    position: relative;
    left: 30%;
  }
   
  .register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #A8A8A8;
    color: #333;
  }
   
  .register input:active,
  .register input:focus{
    outline: none;
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background: #DDDDDD;
    color: #127A4A;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position:relative;
    left: 35%;
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 0px solid #000000;
    
  }

.register .submit:hover{
   background: #127A4A;
    color: #FFFFFF;
}

button{
    width: auto;
    padding: 10px;
    background: #DDDDDD;
    color: #127A4A;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position:relative;
    left: 35%;
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 0px solid #000000;
    
  }

  button:hover{
   background: #127A4A;
    color: #FFFFFF;
}
    }
